label {
  display: block;
  margin-bottom: 5px;
}

output {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: 0 5px 10px;

  text-align: center;
}

output {
  padding: 5px 5px;

  font-family: "Roboto", sans-serif;
  vertical-align: middle;

  border: 1px solid #cccccc;
  border-radius: 5px;
}
